


*{
    padding: 0;
    margin: 0;
 }
 
 .main {
background-image: url("img/background.jpg");

position: relative;
background-position: center center;
background-repeat: no-repeat;

background-size:cover;
min-height: 90vh; 
 width: 100%;


}


.box{
    min-height: 90vh;
    width: 100%;
   opacity: 0.6; 
    background-color: black;
    position: absolute;
    top: 0;
}

 nav svg{
    min-height: 5rem;
   max-width: 8rem;
    color: red;
    position: relative;
    z-index: 10;
    
}

nav{
    margin: auto;
    max-width: 70rem;
    max-height: 62px    ;
    display: flex;  
    
    justify-content: space-between;
    align-items: center;



}
nav .flex {
display: flex;

justify-content:space-between;   
}
nav button{
   min-height: 2rem;
width: 4rem;
    border-radius: 6px;
    background-color: red;
    
    color: white;
    position: relative;
    z-index: 10;


}
nav select{
    min-height: 2rem;
    max-width: 10rem;
    border-radius: 6px;
    padding: 3px 24px;
    font-size: 15px;
    color: white;
    background-color: rgba(0, 0, 0, 0.874);
    opacity: 0.5;
    position: relative;
    z-index: 10;
    margin-right: 6px;
    

}
.a span{
    color: white;
}
.a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 30px;
    text-align: center;
 
   
    
}
.a >:first-child{
   font-weight: bolder;
    font-size: 48px;
    text-align: center;
    padding: 10px;
}
.a :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}
.a :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 10px;
}
.b{
    position: relative;
    padding: 15px;
}
.b input{
    height: 3rem;
    width: 22rem;
    background-color: transparent;
    color:white;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 3px 24px;
    padding: 3px 24px;
    font-size: 20px;
    
    
    
    
}
.b button{
    height: 3rem;
    width: 14rem;
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
     padding: 3px 24px;
    font-size: 20px;
    
    margin-left: 10px;

}


.c{
    width: 100vw;
   min-height: 0.5rem;
    background-color:gray;
}
.d{
    min-height: 60vh;
    max-width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.e{
    max-width: 30vw;
}


.d >div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    
}
.d>div :nth-child(3){
    font-size: 25px;

    
}
.e img{
    
    position: relative;
    z-index: 10;
}

.e video{
height: 560px;
    width: 547px;
position: absolute;
bottom: -445px;
left: 800px;

}

.z{
    
        min-height: 60vh;
        max-width: 100vw;
        background-color: black;
        color: white;
        display:flex ;
        justify-content: center;

        align-items: center;
        justify-content: space-evenly;
}
.z img{
    height: 25rem;
}
.m :nth-child(1){
    font-size: 48px;
}
.m:nth-child(2){
    font-size: 25px;
}


.aa{
    height: 13vh;
    width: 20vw;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: black;
    opacity: 0.9;
    position: relative;
    bottom: 125px;
    left: 110px;
}
.ab img{
    height:85px;
    width: 60px;
        padding: 5px;
}
.ae{
    height: 0px;
    width: 128px;
    display: inline;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 50px;
    left: 75px;

}
.ac{
    font-size: 17px;

}
.ad{
font-size: 15px;
color: blue;
}
.a1{
    
    min-height: 60vh;
    max-width: 100vw;
    background-color: black;
    color: white;
    display:flex ;
    justify-content: center;

    align-items: center;
    justify-content: space-evenly;
}
.a2 :nth-child(1){
    font-size: 48px;
}
.a2:nth-child(2){
    font-size: 25px;
}

.d1{
    min-height: 60vh;
    max-width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    
    justify-content: center;
    align-items: center;    
}

.d1 >div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
    
}
.d1>div :nth-child(3){
    font-size: 25px;

    
}
.e1 img{
    
    position: relative;
    z-index: 10;
}

.e1 video{
    height: 25rem;
   width: 23.75rem;
    position: absolute;
    right: 340px;
    top: 1650px;
  


}




.c1{
    height: 120vh;
    width: 100vw;
    background-color:black ;
   
}

.c1>div>h1{
font-size: 45px;
    color: white;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; 
    align-content: center;
    padding: 20px;
}


.k{
    height: 10vh;
    width: 80vw;
    background-color:rgba(128, 128, 128, 0.766);
    opacity: 0.9;
    margin: 10px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    display: flex;

    justify-content: space-between;


}
.k span{
    font-size: 30px;
    text-align: start;
    margin-left: 20px;
    color: white;
}
.k svg{
    color: white;
    height: 30px;
    padding:20px ;
}
.aa1 span{
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
    padding: 10px;
}





.aa1 span{
    color: white;
}
.aa1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 30px;
    text-align: center;
 
   
    
}
.aa1 >:first-child{
   
    font-size: 22px;
    text-align: center;
    padding: 10px;
}


.bb1{
    position: relative;
    padding: 15px;
}
.bb1 input{
    height: 3rem;
    width: 22rem;
    background-color: transparent;
    color:white;
    border-radius: 4px;
    border: 1px solid grey;
    padding: 3px 24px;
    padding: 3px 24px;
    font-size: 20px;
    
    
    
    
}
.bb1 button{
    height: 3rem;
    width: 14rem;
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
     padding: 3px 24px;
    font-size: 20px;
    
    margin-left: 10px;

}

.q1{
    font-size: 20px;
    min-height: 60vh;
    max-width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.q2{

    height: 45vh;
    width: 25vw;
    
    color: white;
    
    
   
}


.q2 ul li{
    list-style: none;
    font-size: 15px;
    padding: 10px;
}
.q2 ul li select{
background-color:black;

border-radius: 3px;
height: 30px;
width: 100px;
color: white;
}


.q3{

    height: 45vh;
    width: 15vw;

    color: white;
}

.q3 ul li{
    list-style: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
}
.q4{

    height: 45vh;
    width: 15vw;
    
    color: white;
}
.q4 ul li{
    list-style: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
}
.q5{

    height: 45vh;
    width: 15vw;
    
    color: white;
}
.q5 ul li{
    list-style: none;
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
}
